import "q5";

export default function sketch(q: Q5): void {
  q.setup = async () => {
    await q.Canvas(600, 600);
  };

  q.draw = () => {
    q.background("#121212");
    q.noStroke();
    q.fill("hsl(260,80%,65%)");
    q.circle(q.mouseX, q.mouseY, 40);
  };
}
